.foto{
    width: 25vw;
    height: 25vw;
}
.grid-contenedor{
    display: flex;
    flex-wrap: wrap;
}
.thumb{
    display: flex;
    justify-content: center;
}
.contenedor h1{
    text-align: center;
}